/* Import boost theme SCSS */
/* @import "../../boost/scss/moodle"; */
/* @import "../../boost/scss/preset/default";
@import "../../boostiomad/style/font-iomad";
@import "../../boostiomad/style/iomad";
@import "../../boostiomad/style/kansaipaint";
 */

$bkgColor: #000;

/** Changed the background color behind the menu **/
[data-region="drawer"] {
	/*background-color: #edeeee;*/
	background-color: lighten($bkgColor, 81%);
}

/** Change menu items background color **/
.list-group-item {
	background-color: #f6f6f6;
}

/** Change menu items text color **/
.list-group-item, .list-group-item-action {
	color: #aca5a9;
}

/*********************************/
/**** Hide useless menu items ****/
[data-key="home"], [data-key="calendar"], [data-key="privatefiles"] {
	display: none;
}