/* stylelint-disable selector-list-comma-newline-after */
/** Color to derived shades from **/
$bkgColor: #000;

$blue: #000e6e;
$orange: #ef4136;

@font-face {
    font-family: 'Kefa-Regular';
    src: url([[font:theme|Kefa-Regular.eot]]);
    src: url([[font:theme|Kefa-Regular.eot]]) format('embedded-opentype'),
    url([[font:theme|Kefa-Regular.woff]]) format('woff'),
    url([[font:theme|Kefa-Regular.ttf]]) format('truetype'),
    url([[font:theme|Kefa-Regular.svg]]) format('svg');
    font-weight: normal;
    font-style: normal;
}

/** Changed the background color behind the menu **/
body,
[data-region="drawer"] {
    background-color: lighten($bkgColor, 90%);
}

body {
    color: #000;
}

/**
Additionally, Bootstrap also includes an `.mx-auto` class for horizontally
centering fixed-width block level content—that is, content that has
`display: block` and a `width` set—by setting the horizontal margins to `auto`.
**/
.m-auto {
  margin: auto !important;
}

.mt-auto,
.my-auto {
  margin-top: auto !important;
}

.mr-auto,
.mx-auto {
  margin-right: auto !important;
}

.mb-auto,
.my-auto {
  margin-bottom: auto !important;
}

.ml-auto,
.mx-auto {
  margin-left: auto !important;
}

/** Make the modal on quiz submission confirmation page **/
.moodle-dialogue {
    width: 500px !important;
}

/** Hide the redondant page title **/
#region-main h2 + h3 {
  display: none;
}

/** Change menu items background color **/
.list-group-item {
    background-color: #f6f6f6;
}

/** Change menu items text color **/
.list-group-item,
.list-group-item-action {
    color: #aca5a9;
}

/****************/
/**** HEADER ****/
header {
    /** hide the bell icon on the left of the profile menu in the header **/
    /** since we have no notification to display, better hide it **/
    #nav-notification-popover-container {
        display: none;
    }

    /** hide site-name the header at the right of the logo **/
    .site-name {
        display: none;
    }

    /* Hide useless item in the user menu */
    .usermenu {
        a[data-title*="preferences"],
        a[data-title*="grades"],
        a[data-title*="messages"] {
            display: none;
        }
    }
}

/*****************************************************/
/**** PAINT SPLASH BACKGROUND IMAGE IN THE HEADER ****/
.pagelayout-base,
.pagelayout-admin,
.pagelayout-report,
.pagelayout-mydashboard,
.pagelayout-course,
.pagelayout-incourse,
.pagelayout-inquiz {
    #page-header {
        .card {
            background: #fff url([[pix:theme|header_paint_splash]]) no-repeat left bottom;
        }
        .page-header-headings h1 {
            font-family: "Kefa-Regular", "Open Sans", "Helvetica Neue", Arial, sans-serif;
        }
    }
}

.pagelayout-course,
.pagelayout-incourse,
.pagelayout-inquiz {
    #page-header {
        .p-a-1 {
            padding-bottom: 0px !important;
        }
        .card {
            margin-bottom: 0;
        }
    }
    #region-main {
        border: 1px solid #a8a8a8;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-top-width: 0px;
        padding: 0px 0px;

        div[role="main"] {
            padding: 45px 0px 5px 4px;
        }
        /* Topic title */
        h3 {
            color: $blue;
        }
    }
}

#page-mod-quiz-view {
    .generalbox#feedback {
        h3 {
            text-align: center;
            font-size: 18px;
        }
    }
}

/*****************************************/
/**** Style the quiz navigation block ****/
.pagelayout-inquiz {
    #region-main {
        /** Remove some padding between the question and the header **/
        div[role="main"] {
            padding: 0px 0px 5px 4px;
        }
    }
}

.path-mod-quiz, .pagelayout-inquiz {

    /** Lower the "Day x - Mini Test 1" title in the paint splash header **/
    .page-header-headings {
        margin-top: 54px;
    }
    [data-region="blocks-column"] {
        background-color: #FFF;
        border-bottom: 1px #a8a8a8 solid;
        border-bottom-right-radius: 4px;
        border-right: 1px #a8a8a8 solid;
        /** Make the quiz nav take all the space in the right column **/
        width: 280px;
    }

    /** Remove the min-height on questions pane **/
    #region-main > .card.card-block {
        min-height: auto;
    }
    #region-main {
        border-bottom-right-radius: 0;
    }
    #block-region-side-pre {
        /** Add overall padding in right column **/
        padding: 1.25rem;

        #mod_quiz_navblock {
            border: 0;

            .card-block {
                background: transparent url([[pix:theme|bkg_block]]) repeat-x left top;
                padding: 0;

                /** Format Quiz navigation block header **/
                h3 {
                    color: #FFF;
                    font-family: "Open Sans", Arial, sans-serif;
                    margin-bottom: 0;
                    padding: 1rem;
                    &:before {
                        color: #FFF;
                        content: "\f0b2";
                        font-family: FontAwesome;
                        padding-right: 10px;
                    }
                }
                .card-text.content {
                    background-color: #FFF;
                    border-bottom: 1px #ccc solid;
                    border-right: 1px #ccc solid;
                    border-left: 1px #ccc solid;
                    padding: 1rem;
                }
            }
        }
    }
}

#page-mod-quiz-attempt, #page-mod-quiz-summary, #page-mod-quiz-review {
    .que {
        /* Hide extra question info (top left of question) */
        .info {
            display: none;
        }
        .content {
            margin-left: 0;

            .qtext {
                input[type="text"] {
                    display: inline;
                }
            }
        }
    }
    table.quizsummaryofattempt + .submitbtns {
        display: none;
    }
}

/* Style the Finish review button */
#page-mod-quiz-review {
    .mod_quiz-next-nav {
        display: inline-block;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 1px solid transparent;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 0.25rem;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    .mod_quiz-next-nav:hover, .mod_quiz-next-nav:focus {text-decoration: none;}
    .mod_quiz-next-nav:focus, .mod_quiz-next-nav.focus {outline: 0;box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);}
    .mod_quiz-next-nav:not(:disabled):not(.disabled) {cursor: pointer;}
    .mod_quiz-next-nav:not(:disabled):not(.disabled):active, .mod_quiz-next-nav:not(:disabled):not(.disabled).active {background-image: none;}
    .mod_quiz-next-nav {color: #fff;background-color: #007bff;border-color: #007bff;}
    .mod_quiz-next-nav:hover {color: #fff;background-color: #0069d9;border-color: #0062cc;}
    .mod_quiz-next-nav:focus, .mod_quiz-next-nav.focus {box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);}
}

/***************/
/** Dashboard **/
.pagelayout-mydashboard {
    #page-header {
        .card {
            .page-header-headings {
                margin-top: 26px;
            }
        }
    }
}

/********************/
/** Student report **/
.pagelayout-admin, .pagelayout-report, .pagelayout-base {
    #page-header {
        .card {
            .page-header-headings {
                margin-top: 56px;
            }
        }
    }
}

/**************************/
/** Course & lesson view **/
.pagelayout-course {
    #page-header {
        .page-header-headings {
            margin-top: 54px;
        }
    }
    .section li.activity {
        &.lesson {
            padding: .2em .2em 2em .2em;
            &:last-child {
                padding-bottom: .2em;
            }
        }
        .availabilityinfo {
            margin-top: 0;
            &.isrestricted {
                color: #818a91;
                .tag-info {
                    background-color: #d9534f;
                }
                a {
                    color: #818a91;
                    &:hover {
                        color: #007193;
                    }
                }
            }
        }
    }
    .activityinstance {
        .dimmed_text {
            color: #515151 !important;
        }
        .instancename {
            vertical-align: super;
        }
        img.activityicon {
            height: 30px;
            width: 30px;
        }
    }
}

/*******************/
/** Incourse view **/
.pagelayout-incourse {
    #page-header {
        .card {
            /** Dispaly the Day-X flag in course page **/
            &:before {
                background: transparent url([[pix:theme|bkg_flag_day]]) no-repeat left bottom;
                color: #FFF;
                content: " ";
                display: block;
                font-family: "Open Sans", Arial, sans-serif;
                font-size: 1.2em;
                font-weight: 700;
                height: 36px;
                left: -15px;
                padding: 5px 19px;
                position: absolute;
                top: 100px;
                width: 112px;
                z-index: 999;

                /* Rotate the image and text */
                -webkit-transform: rotate(-90deg);
                -moz-transform: rotate(-90deg);
                -ms-transform: rotate(-90deg);
                -o-transform: rotate(-90deg);
                filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
            }
            .page-header-headings {
                margin-left: 67px;
                margin-top: 54px;
            }
        }
    }
    #region-main {
        .card {
            border: 0;
        }
        #course_content {
            border-right: 1px solid #CCC;

            /** Data table header colors  **/
            /* exemple: /mod/lesson/edit.php?id=32#lesson-65 */
            .datatable {
                .table-color1 {
                    background-color: #96d6f2; /* BLUE */
                }
                .table-color2 {
                    background-color: #bfda83; /* GREEN */
                }
                .table-color3 {
                    background-color: #fdef8d; /* YELLOW */
                }
                .table-color4 {
                    background-color: #f3748e; /* RED */
                }
            }

            /** Block of content with title, image and p **/
            /** /mod/lesson/view.php?id=38&pageid=78     **/
            .block_with_image {
                margin-bottom: 1.5rem;

                h5 {
                    margin-bottom: 1rem;
                }
                .cnt_img {
                    margin: 0px 15px 15px 0px;
                }
            }
            .btn i {
                font-size: 1.15rem;
                vertical-align: bottom;
            }
            .btn i.fa-arrow-circle-o-left {
                margin-right: 7px;
            }
            .btn i.fa-arrow-circle-o-right {
                margin-left: 7px;
            }
        }
        /* hide the next/previous page button and the progress bar */
        .branchbuttoncontainer, .progress_bar {
            display: none;
        }
        /* Hide the Answer History in quiz review page */
        .que {
            .history {
                display: none;
            }
        }
        /* bring more space below the attempt count in quiz attempt page */
        /* ie: /mod/quiz/view.php?id=29&lang=en */
        .quizattemptcounts {
            margin-bottom: 1rem!important;
        }
        /* Topic title */
        h2 {
            color: $blue;
            font-family: "Kefa-Regular", Arial, sans-serif;
        }
        /* Lesson title */
        h3 {
            color: $orange;
            font-family: "Kefa-Regular", Arial, sans-serif;
            font-size: 26px;
        }
        p {
            font-family: "Open Sans", Arial, sans-serif;
            font-weigth: 400;
        }
    }

    #kpdesign_toolbar_content {
        bottom: 0;
        left: 0;
        margin-left: 15px;
        margin-right: 30px;
        position: absolute;
        right: 0;

        .branchbuttoncontainer {
            text-align: center;
            > .singlebutton {
                margin-bottom: 10px;
            }
            .singlebutton+.singlebutton {
                margin-left: 0;
            }
        }

        .btn {
            border: 0;
            border-radius: 1.25rem;
            font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
            min-width: 117px;
            font-size: .9rem;
            i {
                font-size: 1.15rem;
                vertical-align: bottom;
            }
        }
        .btn-secondary {
            background-color: $blue;
            color: #FFF;
        }
        .kpdesign_progress_bar {
            text-align: center;
            .percent {
                color: #555;
                font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
                font-size: 2em;
                line-height: .6em;
                margin: 0 auto;
                position: relative;
                text-align: center;
                top: 77px;
                width: 110px;
                span {
                    font-size: 9pt;
                }
            }
        }
    }
}

/***************/
/** All pages **/
#page-header {
    h1 {
        color: #fff;
    }
    .card {
        border: 0;
        min-height: 140px;
        background-color: transparent;

    }
}

#region-main {
    > .card {
        border: 0;
    }
}

/*******************/
/**** Dashboard ****/
.pagelayout-mydashboard {
    #myoverview_courses_view {
        /* Add padding separating "timeline and courses" tab to course listing */
        [data-region="paging-content-item"] {
            padding-top: 30px;
        }
    }

    /** Adjust block height in /my dashboard **/
    .block_myoverview .courses-view-course-item {
        height: 106px;
    }

    /** Align the course label middle with the progress pie chart **/
    .media-left, .media-right, .media-body {
        vertical-align: middle;
    }
}

/**** Make the th longer so bahasa malaysia column fit on one line ****/
table.quizreviewsummary th.cell {
    width: 12em;
}

/*****************************/
/**** Edit user page ****/
#id_moodle_additional_names,
#id_moodle_optional,
#id_moodle_picture {
    display: none;
}

/*****************************/
/**** Hide Breadcrumb nav ****/
#page-navbar {
    display: none;
}

.admin #page-navbar {
    display: inherit;
}

/*********************************/
/**** Hide useless menu items ****/
[data-key="home"], [data-key="calendar"], [data-key="privatefiles"] {
    display: none;
}

/********************/
/**** Login Page ****/
#page-login-index {
    .forgetpass {
        display: none;
    }
}
/* stylelint-enable */
